<!-- header template -->
    <%- include(`partials/header`) %>
    <%- include(`partials/nav`) %>



<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">

            <h2>Daftar Kontak</h2>

            <a href="/hal/contact/add" class="btn btn-primary mb-2">Tambah kontak</a>


            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Nomor</th>
                </tr>
              </thead>
              <tbody>

                <% db.map((siswa,i) => { %>
                    <tr>
                      <th scope="row"> <%= i+1 %> </th>
                      <td> <a href="/hal/contact/<%= siswa.nama%>"><%= siswa.nama%></a> </td>
                      <td><%= siswa.kelas%></td>
                    </tr>
                <% } ) %>


              </tbody>
            </table>

        </div>
    </div>
</div>




<!-- footer template -->
    <%- include(`partials/footer`) %>
    <!--  -->