<!-- header template -->
    <%- include(`partials/header`) %>
    <%- include(`partials/nav`) %>

<div class="container mt-3">
	<div class="row">
		<div class="col-md-8">
			<h2>Detail kontak</h2>

			<% if (db == undefined) { -%>
			<div class="alert alert-danger" role="alert">Data kontak <%= ns %> tidak tersedia, <a href="/hal/contact" class="alert-link">Kembali ke daftar kontak</a>.
			</div>

			<% } else { -%>
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title"> <%= db.nama %> </h5>
			    <h6 class="card-subtitle mb-2 text-muted"><%= db.kelas %></h6>

			    <a href="/hal/contact/edit/<%=db.nama%>" class="btn btn-info badge" onclick="return">Edit</a>

			    <a href="/hal/contact/delete/<%=db.nama%>" class="btn btn-danger badge" onclick="return confirm(`apakah anda yakin ?`)">Hapus</a>

			    <a href="/hal/contact" class="card-link d-block mt-3">Kembali ke daftar kontak</a>
			  </div>
			</div>
			<% } -%>
			
		</div>
	</div>
</div>


<!-- footer template -->
    <%- include(`partials/footer`) %>
    <!--  -->